<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="Author" content="" />
		<meta name="Description" content="" />
		<meta name="keywords" content="callcenter">
		<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
		<title>callcenter</title>
		<link href="script/style.css" rel="stylesheet" type="text/css">
		<link href="script/styleFORM.css" rel="stylesheet" type="text/css">
	</head>
	<body>
		<div id="wrapperMAIN" class="rounded gradient_gray3">
			<div id="header" class="gradient_gray2">
				<div id="logo" class="text_a">PPERW Call Center</div>
				<div id="pageinfo" class="text_b white">DASHBOARD: CALL AGENT NAME</div>
				<div id="dateinfo" class="text_b">12:00 PM  Fri, Oct 24, 2015  <span class="white">&nbsp;|&nbsp;</span>  Timer: 00:00  <span class="white">&nbsp;|&nbsp;</span>  <a href=""><span class="white">LOG-OUT</span></a></div>
			</div>
			
			<div id="content_a">
				<div id="module_a" class="rounded gradient_gray">
					<div class="agent_instruction text_c">
						Click here to begin recording an <span style="color:#6EAB61;">incoming</span> call.
					</div>
					
					<div class="agent_input">
						<a class="btn gradient_green rounded" href="">
							NEW INCOMING CALL
						</a>
					</div>
				</div>
				<div id="module_c" class="rounded gradient_gray">
					<div class="agent_instruction text_c">
						Click one to begin recording an <span style="color:#6EAB61;">outgoing</span> call.
					</div>
					<a class="btn2 gradient_gray3 rounded text_d" href="">
						<div class="call_type" style="background:#B44D54"></div>  0886670426   Charles Cooper
					</a>
					<a class="btn2 gradient_gray3 rounded text_d" href="">
						<div class="call_type" style="background:#68ACBA"></div>  0886670426   Charles Cooper
					</a>
					<a class="btn2 gradient_gray3 rounded text_d" href="">
						<div class="call_type" style="background:#7C5866"></div>  0886670426   Charles Cooper
					</a>
					<a class="btn2 gradient_gray3 rounded text_d" href="">
						<div class="call_type" style="background:#B44D54"></div>  0886670426   Charles Cooper
					</a>
					<a class="btn2 gradient_gray3 rounded text_d" href="">
						<div class="call_type" style="background:#68ACBA"></div>  0886670426   Charles Cooper
					</a>
					<a class="btn2 gradient_gray3 rounded text_d" href="">
						<div class="call_type" style="background:#E3BB56"></div>  0886670426   Charles Cooper
					</a>
					<a class="btn2 gradient_gray3 rounded text_d" href="">
						<div class="call_type" style="background:#7C5866"></div>  0886670426   Charles Cooper
					</a>
					<a class="btn2 gradient_gray3 rounded text_d" href="">
						<div class="call_type" style="background:#E3BB56"></div>  0886670426   Charles Cooper
					</a>
					<a class="btn2 gradient_gray3 rounded text_d" href="">
						<div class="call_type" style="background:#A88648"></div>  0886670426   Charles Cooper
					</a>
					<a class="btn2 gradient_gray3 rounded text_d" href="">
						<div class="call_type" style="background:#6EAB61"></div>  0886670426   Charles Cooper
					</a>
					<a class="btn2 gradient_gray3 rounded text_d" href="">
						<div class="call_type" style="background:#A88648"></div>  0886670426   Charles Cooper
					</a>
				</div>
			</div>
			<div id="content_b">
				<div id="module_b" class="rounded">
					<div class="agent_stats text_a">
						Your statistics today 
						<br><br>
						360 Incoming calls
						<br>
						<div class="call_type2" style="background:#464646;width:200px;"></div><br>
						102 Regular salary
						<br>
						<div class="call_type2" style="background:#B44D54;width:56px;"></div><br>
						58 Hazard pay
						<br>
						<div class="call_type2" style="background:#68ACBA;width:32px;"></div><br>
						120 Allowance
						<br>
						<div class="call_type2" style="background:#7C5866;width:66px;"></div><br>
						23 Response pay
						<br>
						<div class="call_type2" style="background:#E3BB56;width:13px;"></div><br>
						20 Unsure of type
						<br>
						<div class="call_type2" style="background:#A88648;width:11px;"></div><br>
						37 Cancelled calls
						<br>
						<div class="call_type2" style="background:#D72B26;width:21px;"></div><br>
						<br><br>
						165 Outgoing calls
						<br>
						<div class="call_type2" style="background:#464646;width:200px;"></div><br>
						102 Satisfied
						<br>
						<div class="call_type2" style="background:#BCB8AA;width:124px;"></div><br>
						58 Unsatisfied
						<br>
						<div class="call_type2" style="background:#A5A295;width:70px;"></div><br>
						5 Cancelled calls
						<br>
						<div class="call_type2" style="background:#D72B26;width:6px;"></div><br>
					</div>
				</div>
			</div>
			<div id="content_c">
				<div id="module_b" class="rounded">
					<div class="caller_related_cases text_a">
						Incoming call history
						<br><br>
						<a class="btn2 gradient_gray3 rounded text_d" href="">
							<div class="call_type" style="background:#B44D54"></div>  0886670426   Charles Cooper
						</a>
						<a class="btn2 gradient_gray3 rounded text_d" href="">
							<div class="call_type" style="background:#68ACBA"></div>  0886670426   Charles Cooper
						</a>
						<a class="btn2 gradient_gray3 rounded text_d" href="">
							<div class="call_type" style="background:#E3BB56"></div>  0886670426   Charles Cooper
						</a>
						<a class="btn2 gradient_gray3 rounded text_d" href="">
							<div class="call_type" style="background:#7C5866"></div>  0886670426   Charles Cooper
						</a>
						<a class="btn2 gradient_gray3 rounded text_d" href="">
							<div class="call_type" style="background:#E3BB56"></div>  0886670426   Charles Cooper
						</a>
						<a class="btn2 gradient_gray3 rounded text_d" href="">
							<div class="call_type" style="background:#A88648"></div>  0886670426   Charles Cooper
						</a>
						<a class="btn2 gradient_gray3 rounded text_d" href="">
							<div class="call_type" style="background:#6EAB61"></div>  0886670426   Charles Cooper
						</a>
					</div>
				</div>	
				<div id="module_c" class="rounded">
					<div class="caller_related_cases text_a">
						Outgoing call history
						<br><br>
						<a class="btn2 gradient_gray3 rounded text_d" href="">
							<div class="call_type" style="background:#B44D54"></div>  0886670426   Charles Cooper
						</a>
						<a class="btn2 gradient_gray3 rounded text_d" href="">
							<div class="call_type" style="background:#68ACBA"></div>  0886670426   Charles Cooper
						</a>
						<a class="btn2 gradient_gray3 rounded text_d" href="">
							<div class="call_type" style="background:#A88648"></div>  0886670426   Charles Cooper
						</a>
						<a class="btn2 gradient_gray3 rounded text_d" href="">
							<div class="call_type" style="background:#7C5866"></div>  0886670426   Charles Cooper
						</a>
						<a class="btn2 gradient_gray3 rounded text_d" href="">
							<div class="call_type" style="background:#E3BB56"></div>  0886670426   Charles Cooper
						</a>
						<a class="btn2 gradient_gray3 rounded text_d" href="">
							<div class="call_type" style="background:#A88648"></div>  0886670426   Charles Cooper
						</a>
						<a class="btn2 gradient_gray3 rounded text_d" href="">
							<div class="call_type" style="background:#6EAB61"></div>  0886670426   Charles Cooper
						</a>
					</div>
				</div>
			</div>	
		</div>
	</body>
</html>