<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="Author" content="" />
		<meta name="Description" content="" />
		<meta name="keywords" content="callcenter">
		<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
		<title>callcenter</title>
		<link href="script/style.css" rel="stylesheet" type="text/css">
		<link href="script/styleFORM.css" rel="stylesheet" type="text/css">
	</head>
	<body>
		<div id="wrapperMAIN" class="rounded gradient_gray3">
			<div id="header" class="gradient_gray2">
				<div id="logo" class="text_a">PPERW Call Center</div>
				<div id="pageinfo" class="text_b white">OUTGOING CALL: CALLER NAME</div>
				<div id="dateinfo" class="text_b">12:00 PM  Fri, Oct 24, 2015  <span class="white">&nbsp;|&nbsp;</span>  Timer: 00:00  <span class="white">&nbsp;|&nbsp;</span>  <a href=""><span class="white">LOG-OUT</span></a></div>
			</div>
			
			<div id="content_a">
				<div id="module_a" class="rounded gradient_gray">
					<div class="agent_instruction text_a">
						Please read the following dialogue:
					</div>
					<div class="agent_dialogue text_c rounded">
						Please state your name.
					</div>
					
					<div class="agent_input">
						<form>
							<input type="text" name="P_name_first" placeholder="PATIENT FIRST NAME">
							<input type="text" name="P_name_middle" placeholder="PATIENT MIDDLE NAME">
							<input type="text" name="P_name_last" placeholder="PATIENT LAST NAME">
							<select name="suffix">
								<option value="none">PATIENT SUFFIX</option>
								<option value="none">None</option>
								<option value="JR">Jr.</option>
								<option value="SR">Sr.</option>
							</select>
							<a class="btn gradient_green rounded" href="">
								SUBMIT
							</a>
						</form>
					</div>
					<div class="agent_cancel">
						<a class="btn gradient_red rounded" href="">
							CANCEL CALL
						</a>
					</div>
				</div>
			</div>
			<div id="content_b">
				<div id="module_b" class="rounded">
					<div class="info_title text_a">
						Caller Info
					</div>
					<div class="info_content text_b">
						<span style="color:#7D7D7D;">Caller Phone:</span> 0886670426
						<br>
						<span style="color:#7D7D7D;">Caller Name:</span> Charles D. Cooper
						<br>
						<span style="color:#7D7D7D;">Caller County:</span> Montserrado
						<br>
						<span style="color:#7D7D7D;">Caller District:</span> Virginia
						<br>
						<span style="color:#7D7D7D;">Caller Address:</span> Hotel Africa Road
						<br>
						<span style="color:#7D7D7D;">MOH Staff:</span> Yes
						<br>
						<span style="color:#7D7D7D;">ERW:</span> Yes
						<br>
						<span style="color:#7D7D7D;">Organization:</span> UNICEF
						<br>
						<span style="color:#7D7D7D;">Org. Type:</span> UN Agency
						<br>
						<span style="color:#7D7D7D;">Job Title:</span> IPC Supervisor
					</div>
					<div class="info_title text_a">
						Complaint Info
					</div>
					<div class="info_content text_b">
						<span style="color:#7D7D7D;">Wage Type:</span> Hazard Pay
						<br>
						<span style="color:#7D7D7D;">Complaint Type:</span> Payment delayed
						<br><br>
						<span style="color:#7D7D7D;">Description of complaint:</span> I have not gotten paid for three months. I went to GT bank and spoke to the manager named David Moses and he said that the money will be there by July 1, but I cannot afford to wait that long because I need to go to the hospital urgently.
					</div>
				</div>
			</div>
			<div id="content_c">
				<div id="module_b" class="rounded">
					<div class="caller_related_cases text_a">
						This caller previously lodged the following complaint(s):
						<br><br>
						<a class="btn2 gradient_gray3 rounded text_d" href="">
							Complaint ID 012586  Charles Cooper
						</a>
						<a class="btn2 gradient_gray3 rounded text_d" href="">
							Complaint ID 587825  Charles Cooper
						</a>
						<a class="btn2 gradient_gray3 rounded text_d" href="">
							Complaint ID 578964  Charles Cooper
						</a>
						<a class="btn2 gradient_gray3 rounded text_d" href="">
							Complaint ID 368751  Charles Cooper
						</a>
					</div>
				</div>
				<div id="module_c" class="rounded">
					<div class="caller_related_cases text_a">
						This caller previously received the following resolution(s):
						<br><br>
						<a class="btn2 gradient_gray3 rounded text_d" href="">
							Resolution ID 035795  Charles Cooper
						</a>
						<a class="btn2 gradient_gray3 rounded text_d" href="">
							Resolution ID 586495  Charles Cooper
						</a>
					</div>
				</div>
				<div id="module_c" class="rounded">
					<div class="caller_frequency_today text_a">
						This caller has called <span style="color:#7D7D7D;">18</span> times.  
					</div>
				</div>
			</div>	
		</div>
	</body>
</html>