<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="Author" content="" />
		<meta name="Description" content="" />
		<meta name="keywords" content="callcenter">
		<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
		<title>callcenter</title>
		<link href="script/style.css" rel="stylesheet" type="text/css">
		<link href="script/styleADMIN.css" rel="stylesheet" type="text/css">
		<link href="script/styleFORM.css" rel="stylesheet" type="text/css">
	</head>
	<body>
		<div id="wrapperMAIN_ADMIN" class="rounded gradient_gray3">
			<div id="header" class="gradient_gray2">
				<div id="logo" class="text_a">PPERW Call Center</div>
				<div id="pageinfo" class="text_b white">ADMIN PANEL: BROWSE</div>
				<div id="dateinfo" class="text_b">12:00 PM  Fri, Oct 24, 2015  <span class="white">&nbsp;|&nbsp;</span>  Timer: 00:00  <span class="white">&nbsp;|&nbsp;</span>  <a href=""><span class="white">LOG-OUT</span></a></div>
			</div>
			
			<div id="content_a">
				<div id="module_a" class="rounded gradient_gray">
					<div class="agent_input">
						<form>
							<input type="text" name="C_ID" placeholder="COMPLAINT ID">
							<input type="text" name="C_phone" placeholder="CALLER PHONE">
							<input type="text" name="C_name" placeholder="CALLER NAME">
							<select name="county">
								<option value="none">CALLER COUNTY</option>
								<option value="none">None</option>
							</select>
							<input type="text" name="C_address" placeholder="DISTRICT, VILLAGE, or ADDRESS">
							<select name="moh">
								<option value="none">MOH STAFF?</option>
								<option value="none">None</option>
							</select>
							<select name="erw">
								<option value="none">EBOLA RESPONSE WORKER?</option>
								<option value="none">None</option>
							</select>
							<input type="text" name="C_org" placeholder="ORGANIZATION">
							<select name="orgtype">
								<option value="none">ORGANIZATION TYPE</option>
								<option value="none">None</option>
							</select>
							<input type="text" name="C_title" placeholder="JOB TITLE">
							<select name="wagetype">
								<option value="none">WAGE TYPE</option>
								<option value="none">None</option>
							</select>
							<select name="complainttype">
								<option value="none">COMPLAINT TYPE</option>
								<option value="none">None</option>
							</select>
							<a class="btn gradient_green rounded" href="">
								SEARCH
							</a>
						</form>
					</div>
				</div>
			</div>
			<div id="content_d">
				<div id="module_d" class="rounded">
					<div class="info_title text_a">
						Latest Pending Complaints
						<a class="btn3 gradient_red rounded text_d" href="">
							BACK TO DASHBOARD
						</a>
					</div>
				</div>
				<div id="module_e" class="rounded">
					<div class="info_content text_b">
						<a class="btn4 gradient_gray3 rounded text_d" href="">
							Complaint 01234 &nbsp;&nbsp;|&nbsp;&nbsp; Charles Dorme Cooper &nbsp;&nbsp;|&nbsp;&nbsp; 0886670426 &nbsp;&nbsp;|&nbsp;&nbsp; Montserrado
							<span style="color:#000;float:right;">VIEW DETAILS</span>
						</a>
						<a class="btn4 gradient_gray3 rounded text_d" href="">
							Complaint 01234 &nbsp;&nbsp;|&nbsp;&nbsp; Charles Dorme Cooper &nbsp;&nbsp;|&nbsp;&nbsp; 0886670426 &nbsp;&nbsp;|&nbsp;&nbsp; Montserrado
							<span style="color:#000;float:right;">VIEW DETAILS</span>
						</a>
						<a class="btn4 gradient_gray3 rounded text_d" href="">
							Complaint 01234 &nbsp;&nbsp;|&nbsp;&nbsp; Charles Dorme Cooper &nbsp;&nbsp;|&nbsp;&nbsp; 0886670426 &nbsp;&nbsp;|&nbsp;&nbsp; Montserrado
							<span style="color:#000;float:right;">VIEW DETAILS</span>
						</a>
						<a class="btn4 gradient_gray3 rounded text_d" href="">
							Complaint 01234 &nbsp;&nbsp;|&nbsp;&nbsp; Charles Dorme Cooper &nbsp;&nbsp;|&nbsp;&nbsp; 0886670426 &nbsp;&nbsp;|&nbsp;&nbsp; Montserrado
							<span style="color:#000;float:right;">VIEW DETAILS</span>
						</a>
						<a class="btn4 gradient_gray3 rounded text_d" href="">
							Complaint 01234 &nbsp;&nbsp;|&nbsp;&nbsp; Charles Dorme Cooper &nbsp;&nbsp;|&nbsp;&nbsp; 0886670426 &nbsp;&nbsp;|&nbsp;&nbsp; Montserrado
							<span style="color:#000;float:right;">VIEW DETAILS</span>
						</a>
						<a class="btn4 gradient_gray3 rounded text_d" href="">
							Complaint 01234 &nbsp;&nbsp;|&nbsp;&nbsp; Charles Dorme Cooper &nbsp;&nbsp;|&nbsp;&nbsp; 0886670426 &nbsp;&nbsp;|&nbsp;&nbsp; Montserrado
							<span style="color:#000;float:right;">VIEW DETAILS</span>
						</a>
						<a class="btn4 gradient_gray3 rounded text_d" href="">
							Complaint 01234 &nbsp;&nbsp;|&nbsp;&nbsp; Charles Dorme Cooper &nbsp;&nbsp;|&nbsp;&nbsp; 0886670426 &nbsp;&nbsp;|&nbsp;&nbsp; Montserrado
							<span style="color:#000;float:right;">VIEW DETAILS</span>
						</a>
						<a class="btn4 gradient_gray3 rounded text_d" href="">
							Complaint 01234 &nbsp;&nbsp;|&nbsp;&nbsp; Charles Dorme Cooper &nbsp;&nbsp;|&nbsp;&nbsp; 0886670426 &nbsp;&nbsp;|&nbsp;&nbsp; Montserrado
							<span style="color:#000;float:right;">VIEW DETAILS</span>
						</a>
						<a class="btn4 gradient_gray3 rounded text_d" href="">
							Complaint 01234 &nbsp;&nbsp;|&nbsp;&nbsp; Charles Dorme Cooper &nbsp;&nbsp;|&nbsp;&nbsp; 0886670426 &nbsp;&nbsp;|&nbsp;&nbsp; Montserrado
							<span style="color:#000;float:right;">VIEW DETAILS</span>
						</a>
						<a class="btn4 gradient_gray3 rounded text_d" href="">
							Complaint 01234 &nbsp;&nbsp;|&nbsp;&nbsp; Charles Dorme Cooper &nbsp;&nbsp;|&nbsp;&nbsp; 0886670426 &nbsp;&nbsp;|&nbsp;&nbsp; Montserrado
							<span style="color:#000;float:right;">VIEW DETAILS</span>
						</a>
						<a class="btn4 gradient_gray3 rounded text_d" href="">
							Complaint 01234 &nbsp;&nbsp;|&nbsp;&nbsp; Charles Dorme Cooper &nbsp;&nbsp;|&nbsp;&nbsp; 0886670426 &nbsp;&nbsp;|&nbsp;&nbsp; Montserrado
							<span style="color:#000;float:right;">VIEW DETAILS</span>
						</a>
						<a class="btn4 gradient_gray3 rounded text_d" href="">
							Complaint 01234 &nbsp;&nbsp;|&nbsp;&nbsp; Charles Dorme Cooper &nbsp;&nbsp;|&nbsp;&nbsp; 0886670426 &nbsp;&nbsp;|&nbsp;&nbsp; Montserrado
							<span style="color:#000;float:right;">VIEW DETAILS</span>
						</a>
						<a class="btn4 gradient_gray3 rounded text_d" href="">
							Complaint 01234 &nbsp;&nbsp;|&nbsp;&nbsp; Charles Dorme Cooper &nbsp;&nbsp;|&nbsp;&nbsp; 0886670426 &nbsp;&nbsp;|&nbsp;&nbsp; Montserrado
							<span style="color:#000;float:right;">VIEW DETAILS</span>
						</a>
						<a class="btn4 gradient_gray3 rounded text_d" href="">
							Complaint 01234 &nbsp;&nbsp;|&nbsp;&nbsp; Charles Dorme Cooper &nbsp;&nbsp;|&nbsp;&nbsp; 0886670426 &nbsp;&nbsp;|&nbsp;&nbsp; Montserrado
							<span style="color:#000;float:right;">VIEW DETAILS</span>
						</a>
						<a class="btn4 gradient_gray3 rounded text_d" href="">
							Complaint 01234 &nbsp;&nbsp;|&nbsp;&nbsp; Charles Dorme Cooper &nbsp;&nbsp;|&nbsp;&nbsp; 0886670426 &nbsp;&nbsp;|&nbsp;&nbsp; Montserrado
							<span style="color:#000;float:right;">VIEW DETAILS</span>
						</a>
						<a class="btn4 gradient_gray3 rounded text_d" href="">
							Complaint 01234 &nbsp;&nbsp;|&nbsp;&nbsp; Charles Dorme Cooper &nbsp;&nbsp;|&nbsp;&nbsp; 0886670426 &nbsp;&nbsp;|&nbsp;&nbsp; Montserrado
							<span style="color:#000;float:right;">VIEW DETAILS</span>
						</a>
					</div>

					<div class="info_content text_b">
						<a class="btn5 gradient_gray2 rounded text_d" href="">
							PREVIOUS
						</a>
						<a class="text_d" href="">
							1
						</a>
						&nbsp;&nbsp;|&nbsp;&nbsp;
						<a class="text_d" href="">
							2
						</a>
						&nbsp;&nbsp;|&nbsp;&nbsp;
						<a class="text_d" href="">
							3
						</a>
						&nbsp;&nbsp;|&nbsp;&nbsp;
						<a class="text_d" href="">
							4
						</a>
						&nbsp;&nbsp;|&nbsp;&nbsp;
						<a class="text_d" href="">
							5
						</a>
						&nbsp;&nbsp;|&nbsp;&nbsp;
						<a class="text_d" href="">
							6
						</a>
						&nbsp;&nbsp;|&nbsp;&nbsp;
						<a class="text_d" href="">
							7
						</a>
						&nbsp;&nbsp;|&nbsp;&nbsp;
						<a class="text_d" href="">
							8
						</a>
						&nbsp;&nbsp;|&nbsp;&nbsp;
						<a class="text_d" href="">
							9
						</a>
						&nbsp;&nbsp;|&nbsp;&nbsp;
						<a class="text_d" href="">
							10
						</a>
						&nbsp;&nbsp;|&nbsp;&nbsp;
						<a class="text_d" href="">
							11
						</a>
						<a class="btn5 gradient_gray2 rounded text_d" href="">
							NEXT
						</a>
					<div>

				</div>
			</div>
		</div>
	</body>
</html>