<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="Author" content="" />
		<meta name="Description" content="" />
		<meta name="keywords" content="callcenter">
		<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
		<title>callcenter</title>
		<link href="script/style.css" rel="stylesheet" type="text/css">
		<link href="script/styleADMIN.css" rel="stylesheet" type="text/css">
		<link href="script/styleFORM.css" rel="stylesheet" type="text/css">
	</head>
	<body>
		<div id="wrapperMAIN_ADMIN" class="rounded gradient_gray3">
			<div id="header" class="gradient_gray2">
				<div id="logo" class="text_a">PPERW Call Center</div>
				<div id="pageinfo" class="text_b white">ADMIN PANEL: COMPLAINT 01234</div>
				<div id="dateinfo" class="text_b">12:00 PM  Fri, Oct 24, 2015  <span class="white">&nbsp;|&nbsp;</span>  Timer: 00:00  <span class="white">&nbsp;|&nbsp;</span>  <a href=""><span class="white">LOG-OUT</span></a></div>
			</div>
			
			<div id="content_a">
				<div id="module_a" class="rounded gradient_gray">
					<div class="info_title text_a">
						Caller Info
					</div>
					<div class="info_content text_b">
						<span style="color:#7D7D7D;">Caller Phone:</span> 0886670426
						<br>
						<span style="color:#7D7D7D;">Caller Name:</span> Charles D. Cooper
						<br>
						<span style="color:#7D7D7D;">Caller County:</span> Montserrado
						<br>
						<span style="color:#7D7D7D;">Caller District:</span> Virginia
						<br>
						<span style="color:#7D7D7D;">Caller Address:</span> Hotel Africa Road
						<br>
						<span style="color:#7D7D7D;">MOH Staff:</span> Yes
						<br>
						<span style="color:#7D7D7D;">ERW:</span> Yes
						<br>
						<span style="color:#7D7D7D;">Organization:</span> UNICEF
						<br>
						<span style="color:#7D7D7D;">Org. Type:</span> UN Agency
						<br>
						<span style="color:#7D7D7D;">Job Title:</span> IPC Supervisor
					</div>
				</div>
			</div>
			<div id="content_d">
				<div id="module_d" class="rounded">
					<div class="info_title text_a">
						Complaint ID 01234
						<a class="btn3 gradient_red rounded text_d" href="">
							BACK TO SEARCH
						</a>
					</div>
				</div>
				<div id="module_e" class="rounded">
					<div class="info_content text_b">
						<div class="info_title text_a">
							Complaint Info
						</div>
						<div class="info_content text_b">
							<span style="color:#7D7D7D;">Wage Type:</span> Hazard Pay
							<br>
							<span style="color:#7D7D7D;">Complaint Type:</span> Payment delayed
							<br><br>
							<span style="color:#7D7D7D;">Description of complaint:</span> I have not gotten paid for three months. I went to GT bank and spoke to the manager named David Moses and he said that the money will be there by July 1, but I cannot afford to wait that long because I need to go to the hospital urgently.
						</div>
					</div>
				</div>
				<div id="module_e" class="rounded">
					<div class="info_content text_b">
						<div class="info_title text_a">
							Discovery / Resolution
						</div>
						<form>
							<textarea name="C_resolution" placeholder="COMPLAINT RESOLUTION"></textarea>
							<a class="btn5 gradient_green rounded" href="">
								UPDATE RESOLUTION
							</a>
						</form>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>