{% extends 'layout.html' %}
{% block content_a %}
    <div id="content_a">
        <div id="module_a" class="module rounded gradient_gray">
            <div class="info_title text_a">
                Caller Information
            </div>
            <div class="info_content text_b">
                {% if complaint.phone %}<span style="color:#7D7D7D;">Phone:</span> {{ helpers.local_phone_number(complaint.phone) }} <br>{% endif %}
                {% if complaint.name %}<span style="color:#7D7D7D;">Name:</span> {{ complaint.name }} <br>{% endif %}
                {% if complaint.county %}<span style="color:#7D7D7D;">County:</span> {{ helpers.county[complaint.county] }} <br>{% endif %}
                {% if complaint.district %}<span style="color:#7D7D7D;">District:</span> {{ complaint.district }} <br>{% endif %}
                {% if complaint.city %}<span style="color:#7D7D7D;">Village:</span> {{ complaint.city }} <br>{% endif %}
                {% if complaint.address %}<span style="color:#7D7D7D;">Address:</span> {{ complaint.address }} <br>{% endif %}
                {% if not complaint.is_moh is none %}<span style="color:#7D7D7D;">MOH Staff:</span> {{ helpers.yes_no[complaint.is_moh] }} <br>{% endif %}
                {% if not complaint.is_erw is none %}<span style="color:#7D7D7D;">ERW:</span> {{ helpers.yes_no[complaint.is_erw] }} <br>{% endif %}
                {% if complaint.organization %}<span style="color:#7D7D7D;">Organization:</span> {{ complaint.organization }} <br>{% endif %}
                {% if complaint.organization_type == 'other' %}
                    <span style="color:#7D7D7D;">Org. Type:</span> {{ complaint.other_organization_type }} <br>
                {% elif complaint.organization_type in helpers.organization_type %}
                    <span style="color:#7D7D7D;">Org. Type:</span> {{ helpers.organization_type[complaint.organization_type] }} <br>
                {% endif %}
                {% if complaint.position %}<span style="color:#7D7D7D;">Job Title:</span> {{ complaint.position }} <br>{% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block content_d %}
    <div id="content_d">
        <div id="module_d" class="module rounded">
            <div class="info_title text_a">
                Complaint ID {{ '%05d' % complaint.id|int }}
                <a class="btn3 gradient_red rounded text_d" href="{{ url_for('admin.search', current_status=complaint.status()|string) }}">
                    BACK TO SEARCH
                </a>
            </div>
        </div>
        <div id="module_e" class="module rounded">
            <div class="info_content text_b">
                <div class="info_title text_a">
                    Complaint Information
                </div>
                <div class="info_content text_b">
                    {% if complaint.payment_type %}<span style="color:#7D7D7D;">Wage type:</span> {{ helpers.payment_type[complaint.payment_type] }} <br>{% endif %}
                    {% if complaint.payment_issue and complaint.payment_issue != 'other' %}<span style="color:#7D7D7D;">Complaint type:</span> {{ helpers.payment_issue[complaint.payment_issue] }} <br>{% endif %}
                    {% if complaint.complaint_description %}<span style="color:#7D7D7D;">Description of complaint:</span> {{ complaint.complaint_description }} <br>{% endif %}
                    {% if complaint.complaint_resolution %}<span style="color:#7D7D7D;">Proposed resolution:</span> {{ complaint.complaint_resolution }} <br>{% endif %}
                    {% if complaint.comments %}<span style="color:#7D7D7D;">Additional comments:</span> {{ complaint.comments }} <br>{% endif %}
                </div>
            </div>
        </div>
        <div id="module_e" class="module rounded">
            <div class="info_content text_b">
                <div class="info_title text_a">
                    Discovery / Resolution
                </div>
                <form method="post" id="admin_form">
                    <input type="hidden" name="admin_action" id="admin_action" value="submit" />
                    <textarea name="response_description" placeholder="Type complaint resolution" {% if complaint.status()|string != 'open' %}disabled="disabled"{% endif %}>{% if complaint.response_description %}{{ complaint.response_description.strip() }}{% endif %}</textarea>
                    {% if complaint.status()|string == 'open' %}
                    <a class="btn5 btn_submit gradient_green rounded" href="">
                        UPDATE RESOLUTION
                    </a>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}

