{% extends 'layout.html' %}
{% block content_a %}
    <div id="content_a">
        {% if g.user.is_admin %}
            <div id="module_a" class="module rounded gradient_gray">
                <div class="agent_instruction text_c">
                    Click here to search and browse <span style="color:#6EAB61;">existing</span> calls.
                </div>
                <div class="agent_input">
                    <form>
                        <a class="btn gradient_green rounded" href="{{ url_for('admin.search', status='open') }}">
                            BROWSE PENDING
                        </a>
                        <br><br>
                        <a class="btn gradient_green rounded" href="{{ url_for('admin.search', status='resolved') }}">
                            BROWSE RESOLVED
                        </a>
                        <br><br>
                        <a class="btn gradient_green rounded" href="{{ url_for('admin.search', status='closed') }}">
                            BROWSE CLOSED
                        </a>
                    </form>
                </div>
            </div>
            <!--
            <div id="module_c" class="module rounded">
                <a class="btn gradient_orange rounded" href="">
                    DOWNLOAD REPORT
                </a>
            </div>
            -->
        {% endif %}
        {% if g.user.is_agent %}
            <div id="module_a" class="module rounded gradient_gray">
                <div class="agent_instruction text_c">
                    Click here to begin recording an <span style="color:#6EAB61;">incoming</span> call.
                </div>

                <div class="agent_input">
                    <a class="btn gradient_green rounded" href="{{ url_for('incoming.new') }}">
                        NEW INCOMING CALL
                    </a>
                </div>
            </div>
            {% if responded_complaints and responded_complaints.count() %}
            <div id="module_c" class="module rounded gradient_gray">
                <div class="agent_instruction text_c">
                    Click one to begin recording an <span style="color:#6EAB61;">outgoing</span> call.
                </div>
                {% for c in responded_complaints %}
                <a class="btn2 gradient_gray3 rounded text_d" href="{{ url_for('outgoing.new', complaint_id=c.id) }}">
                    <div class="call_type" style="background:#B44D54"></div>
                    {% if c.phone %}{{ helpers.local_phone_number(c.phone) }} {% endif %}
                    {% if c.name %}{{ c.name }}{% endif %}
                </a>
                {% endfor %}
            </div>
            {% endif %}
        {% endif %}
   </div>
{% endblock %}

{% block content_b %}
    <!--
    <div id="content_b">
        <div id="module_b" class="module rounded">
            <div class="agent_stats text_a">
                Your statistics today
                <br><br>
                360 Incoming calls
                <br>
                <div class="call_type2" style="background:#464646;width:200px;"></div><br>
                102 Regular salary
                <br>
                <div class="call_type2" style="background:#B44D54;width:56px;"></div><br>
                58 Hazard pay
                <br>
                <div class="call_type2" style="background:#68ACBA;width:32px;"></div><br>
                120 Allowance
                <br>
                <div class="call_type2" style="background:#7C5866;width:66px;"></div><br>
                23 Response pay
                <br>
                <div class="call_type2" style="background:#E3BB56;width:13px;"></div><br>
                20 Unsure of type
                <br>
                <div class="call_type2" style="background:#A88648;width:11px;"></div><br>
                37 Cancelled calls
                <br>
                <div class="call_type2" style="background:#D72B26;width:21px;"></div><br>
                <br><br>
                165 Outgoing calls
                <br>
                <div class="call_type2" style="background:#464646;width:200px;"></div><br>
                102 Satisfied
                <br>
                <div class="call_type2" style="background:#BCB8AA;width:124px;"></div><br>
                58 Unsatisfied
                <br>
                <div class="call_type2" style="background:#A5A295;width:70px;"></div><br>
                5 Cancelled calls
                <br>
                <div class="call_type2" style="background:#D72B26;width:6px;"></div><br>
            </div>
        </div>
    </div>
    -->
{% endblock %}

{% block content_c %}
    <!-- TAKING THIS OUT
        <div id="content_c">
            <div id="module_b" class="module rounded">
                <div class="caller_related_cases text_a">
                    Incoming call history
                    <br><br>
                    <a class="btn2 gradient_gray3 rounded text_d" href="">
                        <div class="call_type" style="background:#B44D54"></div>  0886670426   Charles Cooper
                    </a>
                    <a class="btn2 gradient_gray3 rounded text_d" href="">
                        <div class="call_type" style="background:#68ACBA"></div>  0886670426   Charles Cooper
                    </a>
                    <a class="btn2 gradient_gray3 rounded text_d" href="">
                        <div class="call_type" style="background:#E3BB56"></div>  0886670426   Charles Cooper
                    </a>
                    <a class="btn2 gradient_gray3 rounded text_d" href="">
                        <div class="call_type" style="background:#7C5866"></div>  0886670426   Charles Cooper
                    </a>
                    <a class="btn2 gradient_gray3 rounded text_d" href="">
                        <div class="call_type" style="background:#E3BB56"></div>  0886670426   Charles Cooper
                    </a>
                    <a class="btn2 gradient_gray3 rounded text_d" href="">
                        <div class="call_type" style="background:#A88648"></div>  0886670426   Charles Cooper
                    </a>
                    <a class="btn2 gradient_gray3 rounded text_d" href="">
                        <div class="call_type" style="background:#6EAB61"></div>  0886670426   Charles Cooper
                    </a>
                </div>
            </div>
            <div id="module_c" class="module rounded">
                <div class="caller_related_cases text_a">
                    Outgoing call history
                    <br><br>
                    <a class="btn2 gradient_gray3 rounded text_d" href="">
                        <div class="call_type" style="background:#B44D54"></div>  0886670426   Charles Cooper
                    </a>
                    <a class="btn2 gradient_gray3 rounded text_d" href="">
                        <div class="call_type" style="background:#68ACBA"></div>  0886670426   Charles Cooper
                    </a>
                    <a class="btn2 gradient_gray3 rounded text_d" href="">
                        <div class="call_type" style="background:#A88648"></div>  0886670426   Charles Cooper
                    </a>
                    <a class="btn2 gradient_gray3 rounded text_d" href="">
                        <div class="call_type" style="background:#7C5866"></div>  0886670426   Charles Cooper
                    </a>
                    <a class="btn2 gradient_gray3 rounded text_d" href="">
                        <div class="call_type" style="background:#E3BB56"></div>  0886670426   Charles Cooper
                    </a>
                    <a class="btn2 gradient_gray3 rounded text_d" href="">
                        <div class="call_type" style="background:#A88648"></div>  0886670426   Charles Cooper
                    </a>
                    <a class="btn2 gradient_gray3 rounded text_d" href="">
                        <div class="call_type" style="background:#6EAB61"></div>  0886670426   Charles Cooper
                    </a>
                </div>
            </div>
        </div>
    -->
{% endblock %}
