<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="Author" content="" />
		<meta name="Description" content="" />
		<meta name="keywords" content="callcenter">
		<!-- <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" /> -->
		<title>PPERW Call Center</title>
        <link type="text/css" href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" />
        <link type="text/css" href="{{ url_for('static', filename='css/styleFORM.css') }}" rel="stylesheet" />
        <link type="text/css" href="{{ url_for('static', filename='css/styleADMIN.css') }}" rel="stylesheet" />
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.countdown.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
	</head>
	<body>
		<div id="wrapperMAIN" class="rounded gradient_gray3">
			<div id="header" class="gradient_gray2">
				<div id="logo" class="text_a">PPERW Call Center</div>
                <div id="pageinfo" class="text_b white">
                    {% if g.user.is_authenticated() and complaint %}
                        ACTIVE CALL: {% if complaint.name %} {{ complaint.name }} - {% endif %}{% if complaint.phone %}{{ helpers.local_phone_number(complaint.phone) }}{% endif %}
                    {% endif %}
                </div>
				<div id="dateinfo" class="text_b">
                    {{ g.timestamp.strftime('%-I:%M %p %a, %b %-d, %Y') }}
                    <!-- <span class="white">&nbsp;|&nbsp;</span> <a href="{{ url_for('home.index') }}"><span class="white">DASHBOARD</span></a> -->
                    {% if g.user.is_authenticated() %}
                    <span class="white">&nbsp;|&nbsp;</span> <a href="{{ url_for('home.logout') }}"><span class="white">LOG OUT</span></a>
                    {% else %}
                    <span class="white">&nbsp;|&nbsp;</span> <a href="{{ url_for('home.login') }}"><span class="white">LOG IN</span></a>
                    {% endif %}
                </div>
			</div>

            {% block content_a %}{% endblock %}
            {% block content_b %}{% endblock %}
            {% block content_c %}{% endblock %}
            {% block content_d %}{% endblock %}
            <div style="clear: both;">&nbsp;</div>
		</div>
        <br><br>
	</body>
</html>