{% extends 'layout.html' %}
{% block content_a %}
    <div id="content_a">
        <div id="module_a" class="module rounded gradient_gray">
            <div class="agent_input">
                <form method="post" id="search_form">
                    <input type="hidden" name="search_action" id="admin_action" value="submit" />

                    <input type="text" name="complaint_id" placeholder="Filter by complaint ID" {% if complaint_id %}value="{{ complaint_id }}"{% endif %}>
                    <input type="text" name="phone" placeholder="Filter by phone number" {% if phone %}value="{{ phone }}"{% endif %}>
                    <input type="text" name="name" placeholder="Filter by name" {% if name %}value="{{ name }}"{% endif %}>

                    <select name="county">
                        <option disabled="disabled" {% if not county %}selected="selected"{% endif %}>Filter by county</option>
                        <option value=""></option>
                        {% for k,v in helpers.county.items() %}
                        <option value="{{ k }}" {% if county == k %}selected="selected"{% endif %}>{{ v }}</option>
                        {% endfor %}
                    </select>

                    <input type="text" name="location" placeholder="Filter by city, address or community" {% if location %}value="{{ location }}"{% endif %}>

                    <select name="is_government">
                        <option value="" disabled="disabled" {% if not is_government %}selected="selected"{% endif %}>Filter by government employment status</option>
                        <option value=""></option>
                        <option value="Y" {% if is_government == 'Y' %}selected="selected"{% endif %}>Is government employee</option>
                        <option value="N" {% if is_government == 'N' %}selected="selected"{% endif %}>Is not government employee</option>
                    </select>

                    <select name="is_moh">
                        <option value="" disabled="disabled" {% if not is_moh %}selected="selected"{% endif %}>Filter by MOHSW employment status</option>
                        <option value=""></option>
                        <option value="Y" {% if is_moh == 'Y' %}selected="selected"{% endif %}>Is MOHSW employee</option>
                        <option value="N" {% if is_moh == 'N' %}selected="selected"{% endif %}>Is not MOHSW employee</option>
                    </select>

                    <input type="text" name="organization" placeholder="Filter by organization"{% if organization %}value="{{ organization }}"{% endif %}>

                    <select name="workplace">
                        <option disabled="disabled" {% if not workplace %}selected="selected"{% endif %}>Filter by place of work</option>
                        <option value=""></option>
                        {% for k,v in helpers.workplace.items() %}
                        <option value="{{ k }}" {% if workplace == k %}selected="selected"{% endif %}>{{ v }}</option>
                        {% endfor %}
                    </select>

                    <input type="text" name="position" placeholder="Filter by job title" {% if position %}value="{{ position }}"{% endif %}>

                    <select name="payment_type">
                        <option disabled="disabled" {% if not payment_type %}selected="selected"{% endif %}>Filter by wage type</option>
                        <option value=""></option>
                        {% for k,v in helpers.payment_type.items() %}
                        <option value="{{ k }}" {% if payment_type == k %}selected="selected"{% endif %}>{{ v }}</option>
                        {% endfor %}
                    </select>

                    <a class="btn btn_submit gradient_green rounded" href="">
                        SEARCH
                    </a>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block content_d %}
    <div id="content_d">
        <div id="module_d" class="module rounded">
            <div class="info_title text_a">
                Latest {% if current_status|string == 'open' %}Pending{% else %}{{ helpers.status[current_status|string] }}{% endif %} Complaints
                <a class="btn3 gradient_red rounded text_d" href="{{ url_for('home.index') }}">
                    BACK TO DASHBOARD
                </a>
            </div>
        </div>
        {% if complaints %}
        <div id="module_e" class="rounded">
            <div class="info_content text_b">
                {% for c in complaints %}
                <a class="btn4 gradient_gray3 rounded text_d" href="{{ url_for('admin.complaint', complaint_id=c.id) }}">
                    Complaint {{ '%05d' % c.id }}
                    {% if c.name %}&nbsp;&nbsp;|&nbsp;&nbsp; {{ c.name }}{% endif %}
                    {% if c.phone %}&nbsp;&nbsp;|&nbsp;&nbsp; {{ helpers.local_phone_number(c.phone) }}{% endif %}
                    {% if c.county %}&nbsp;&nbsp;|&nbsp;&nbsp; {{ helpers.county[c.county] }} County{% endif %}
                    {% if c.status() %}&nbsp;&nbsp;|&nbsp;&nbsp; {{ helpers.status[c.status()|string] }}{% endif %}
                    <span style="color:#000;float:right;">VIEW DETAILS</span>
                </a>
                {% endfor %}
            </div>

            <div class="info_content text_b">
                {% if pagination.has_prev %}
                <a class="btn5 gradient_gray2 rounded text_d" href="">
                    PREVIOUS
                </a>
                {% endif %}

                {% set first = True %}
                {% for p in pagination.iter_pages(0, 5, 5, 0) %}
                    {% if not first %}
                        &nbsp;&nbsp;|&nbsp;&nbsp;
                    {% else %}
                        {% set first = False %}
                    {% endif %}

                    {% if p == pagination.page %}
                        {{ p }}
                    {% else %}
                        <a class="text_d" href="?page={{ p }}"> {{ p }} </a>
                    {% endif %}
                {% endfor %}

                {% if pagination.has_next %}
                <a class="btn5 gradient_gray2 rounded text_d" href="">
                    NEXT
                </a>
                {% endif %}
            </div>

        </div>
        {% endif %}
    </div>
{% endblock %}

