{% extends 'step.html' %}
{% block agent_dialogue_text %}
    Are you
    {% for c in call.phone.contacts.all() %}
        {{ c.name() }}{% if c.city or c.community or c.county %}from
        {% if c.community %}{{ c.community }}, {% endif %}
        {% if c.city %}{{ c.city }} in {% endif %}
        {% if c.county %}{{ c.county }} County{% endif %}{% endif %}?
    {% endfor %}
{% endblock %}
{% block agent_input_elements %}
    <select name="caller_id">
        <option disabled="disabled" selected="selected">Caller</option>
        {% for c in call.phone.contacts.all() %}
            <option value="{{ c.id }}">{{ c.name() }}</option>
        {% endfor %}
    </select>
{% endblock %}
{% set disable_agent_skip = True %}
