{% extends 'step.html' %}
{% set caller_match = call.phone.contacts.filter_by(id=session['caller_match_id']).first() %}
{% block agent_dialogue_text %}
    Are you
    {{ caller_match.name() }}{% if caller_match.city or caller_match.community or caller_match.county %} from
    {% if caller_match.community %}{{ caller_match.community }}, {% endif %}
    {% if caller_match.city %}{{ caller_match.city }} in {% endif %}
    {% if caller_match.county %}{{ helpers.county[caller_match.county] }} County{% endif %}{% endif %}?
{% endblock %}
{% block agent_input_elements %}
    <input type="hidden" name="caller_match_id" value="{{ caller_match.id }}">
    <input type="radio" name="caller_match" value="Y"> <label for="Y">Yes</label><br>
    <input type="radio" name="caller_match" value="N"> <label for="N">No</label><br>
{% endblock %}
{% set disable_agent_skip = True %}

