{% extends 'step.html' %}
{% block agent_dialogue_text %}
    Please state {{ call.case.patient.short_name() or 'the patient' }}'s name.
{% endblock %}
{% block agent_input_elements %}
    <input type="text" name="patient_first_name" placeholder="Patient First Name" {% if call.case.patient %}value="{{ call.case.patient.first_name or '' }}"{% endif %}>
    <input type="text" name="patient_middle_name" placeholder="Patient Middle Name" {% if call.case.patient %}value="{{ call.case.patient.middle_name or '' }}"{% endif %}>
    <input type="text" name="patient_last_name" placeholder="Patient Last Name" {% if call.case.patient %}value="{{ call.case.patient.last_name or '' }}"{% endif %}>
    <select name="patient_suffix">
        <option disabled="disabled" selected="selected">Patient Suffix</option>
        {% for k,v in helpers.suffix.items() %}
        <option value="{{ k }}" {% if call.case.patient and call.case.patient.suffix == k %}selected="selected"{% endif %}>{{ v }}</option>
        {% endfor %}
    </select>
{% endblock %}
{% set disable_agent_skip = True %}
