{% extends 'step.html' %}
{% block agent_dialogue_text %}
     What is {{ call.case.patient.short_name() or 'a patient' }}'s primary language?
{% endblock %}
{% block agent_input_elements %}
    <select name="patient_language">
        <option disabled="disabled" selected="selected">Patient Language</option>
        {% for k,v in helpers.language.items() %}
        <option value="{{ k }}" {% if call.case.patient.language == k %}selected="selected"{% endif %}>{{ v }}</option>
        {% endfor %}
    </select>
{% endblock %}
{% block agent_skip_text %}UNKNOWN{% endblock %}
