{% extends 'step.html' %}
{% set case_match = call.caller.call_cases().filter_by(id=session['case_match_id']).first() %}
{% block agent_dialogue_text %}
    Are you calling about
    {{ case_match.patient.name() or 'the patient' }}{% if case_match.patient.city or case_match.patient.community or case_match.patient.county %} from
    {% if case_match.patient.community %}{{ case_match.patient.community }}, {% endif %}
    {% if case_match.patient.city %}{{ case_match.patient.city }} in {% endif %}
    {% if case_match.patient.county %}{{ helpers.county[case_match.patient.county] }} County{% endif %}{% endif %}?
{% endblock %}
{% block agent_input_elements %}
    <input type="hidden" name="case_match_id" value="{{ case_match.id }}">
    <input type="radio" name="case_match" value="Y"> <label for="Y">Yes</label><br>
    <input type="radio" name="case_match" value="N"> <label for="N">No</label><br>
{% endblock %}
{% set disable_agent_skip = True %}
