{% extends 'step.html' %}
{% block agent_dialogue_text %}
      What county is {{ call.case.patient.short_name() or 'a patient' }} in?
{% endblock %}
{% block agent_input_elements %}
    <select name="patient_county">
        <option disabled="disabled" selected="selected">Patient County</option>
        {% for k,v in helpers.county.items() %}
        <option value="{{ k }}" {% if call.case.patient.county == k %}selected="selected"{% endif %}>{{ v }}</option>
        {% endfor %}
    </select>
{% endblock %}
{% set disable_agent_skip = True %}
