{% extends 'step.html' %}
{% block agent_dialogue_text %}
    Is the patient awake or conscious?
{% endblock %}
{% block agent_input_elements %}
    <select name="patient_condition">
        <option disabled="disabled" selected="selected">Patient Condition</option>
        <option value="alive">Alive</option>
        <option value="conscious">Conscious</option>
        <option value="unconscious">Unconscious</option>
        <option value="dead">Dead</option>
    </select>
{% endblock %}
{% block agent_skip_text %}UNKNOWN{% endblock %}
