{% extends 'step.html' %}
{% set symptoms = call.case.unpretty_symptoms() %}
{% block agent_dialogue_text %}
      Does {{ call.case.patient.short_name() or 'the patient' }} have any of these symptoms?
{% endblock %}
{% block agent_input_elements %}
    <input type="checkbox" name="patient_symptoms" value="fever" {% if 'fever' in symptoms %}checked="checked"{% endif %}> <label for="fever">Fever</label>
    <input type="checkbox" name="patient_symptoms" value="headache" {% if 'headache' in symptoms %}checked="checked"{% endif %}> <label for="headache">Headache</label>
    <input type="checkbox" name="patient_symptoms" value="nausea" {% if 'nausea' in symptoms %}checked="checked"{% endif %}> <label for="nausea">Nausea</label>
    <br>
    <input type="checkbox" name="patient_symptoms" value="diarrhea" {% if 'diarrhea' in symptoms %}checked="checked"{% endif %}> <label for="diarrhea">Diarrhea</label>
    <input type="checkbox" name="patient_symptoms" value="black_stool" {% if 'black_stool' in symptoms %}checked="checked"{% endif %}> <label for="black_stool">Black Stool</label>
    <br>
    <input type="checkbox" name="patient_symptoms" value="vomiting" {% if 'vomiting' in symptoms %}checked="checked"{% endif %}> <label for="vomiting">Vomiting</label>
    <input type="checkbox" name="patient_symptoms" value="loss_of_appetite" {% if 'loss_of_appetite' in symptoms %}checked="checked"{% endif %}> <label for="loss_of_appetite">Loss of Appetite</label>
    <br>
    <input type="checkbox" name="patient_symptoms" value="weakness" {% if 'weakness' in symptoms %}checked="checked"{% endif %}> <label for="weakness">Weakness</label>
    <input type="checkbox" name="patient_symptoms" value="red_eyes" {% if 'red_eyes' in symptoms %}checked="checked"{% endif %}> <label for="red_eyes">Red Eyes</label>
    <br>
    <input type="checkbox" name="patient_symptoms" value="abdominal_pain" {% if 'abdominal_pain' in symptoms %}checked="checked"{% endif %}> <label for="abdominal_pain">Abdominal Pain</label>
    <input type="checkbox" name="patient_symptoms" value="muscle_pain" {% if 'muscle_pain' in symptoms %}checked="checked"{% endif %}> <label for="muscle_pain">Muscle Pain</label>
    <br>
    <input type="checkbox" name="patient_symptoms" value="skin_rash" {% if 'skin_rash' in symptoms %}checked="checked"{% endif %}> <label for="skin_rash">Skin Rash</label>
    <input type="checkbox" name="patient_symptoms" value="sore_throat" {% if 'sore_throat' in symptoms %}checked="checked"{% endif %}> <label for="sore_throat">Sore Throat</label>
    <br>
    <input type="checkbox" name="patient_symptoms" value="difficulty_breathing" {% if 'difficulty_breathing' in symptoms %}checked="checked"{% endif %}> <label for="difficulty_breathing">Difficulty Breathing</label>
    <input type="checkbox" name="patient_symptoms" value="hiccups" {% if 'hiccups' in symptoms %}checked="checked"{% endif %}> <label for="hiccups">Hiccups</label>
    <br>
    <input type="checkbox" name="patient_symptoms" value="difficulty_swallowing" {% if 'difficulty_swallowing' in symptoms %}checked="checked"{% endif %}> <label for="difficulty_swallowing">Difficulty Swallowing</label>
    <br>
    <input type="checkbox" name="patient_symptoms" value="unexplained_bleeding" {% if 'unexplained_bleeding' in symptoms %}checked="checked"{% endif %}> <label for="unexplained_bleeding">Unexplained Bleeding</label>
    <br><br>
{% endblock %}
{% block agent_skip_text %}UNKNOWN{% endblock %}
