{% extends 'step.html' %}
{% set symptoms = call.case.unpretty_symptoms() %}
{% block agent_dialogue_text %}
      Does {{ call.case.patient.short_name() or 'the patient' }} have any of these symptoms?
{% endblock %}
{% block agent_input_elements %}
    <input type="checkbox" name="patient_symptoms" value="fever" {% if 'fever' in symptoms %}checked="checked"{% endif %}> <label for="fever">Fever</label>
    <input type="checkbox" name="patient_symptoms" value="headache" {% if 'headache' in symptoms %}checked="checked"{% endif %}> <label for="headache">Headache</label>
    <input type="checkbox" name="patient_symptoms" value="nausea" {% if 'nausea' in symptoms %}checked="checked"{% endif %}> <label for="nausea">Nausea</label>
    <br>
    <input type="checkbox" name="patient_symptoms" value="diarrhea" {% if 'diarrhea' in symptoms %}checked="checked"{% endif %}> <label for="diarrhea">Diarrhea</label>
    <input type="checkbox" name="patient_symptoms" value="stool" {% if 'stool' in symptoms %}checked="checked"{% endif %}> <label for="stool">Black Stool</label>
    <br>
    <input type="checkbox" name="patient_symptoms" value="vomiting" {% if 'vomiting' in symptoms %}checked="checked"{% endif %}> <label for="vomiting">Vomiting</label>
    <input type="checkbox" name="patient_symptoms" value="appetite" {% if 'appetite' in symptoms %}checked="checked"{% endif %}> <label for="appetite">Loss of Appetite</label>
    <br>
    <input type="checkbox" name="patient_symptoms" value="weakness" {% if 'weakness' in symptoms %}checked="checked"{% endif %}> <label for="weakness">Weakness</label>
    <input type="checkbox" name="patient_symptoms" value="eyes" {% if 'eyes' in symptoms %}checked="checked"{% endif %}> <label for="eyes">Red Eyes</label>
    <br>
    <input type="checkbox" name="patient_symptoms" value="abdominal" {% if 'abdominal' in symptoms %}checked="checked"{% endif %}> <label for="abdominal">Abdominal Pain</label>
    <input type="checkbox" name="patient_symptoms" value="muscle" {% if 'muscle' in symptoms %}checked="checked"{% endif %}> <label for="muscle">Muscle Pain</label>
    <br>
    <input type="checkbox" name="patient_symptoms" value="rash" {% if 'rash' in symptoms %}checked="checked"{% endif %}> <label for="rash">Skin Rash</label>
    <input type="checkbox" name="patient_symptoms" value="throat" {% if 'throat' in symptoms %}checked="checked"{% endif %}> <label for="throat">Sore Throat</label>
    <br>
    <input type="checkbox" name="patient_symptoms" value="breathing" {% if 'breathing' in symptoms %}checked="checked"{% endif %}> <label for="breathing">Difficulty Breathing</label>
    <input type="checkbox" name="patient_symptoms" value="hiccups" {% if 'hiccups' in symptoms %}checked="checked"{% endif %}> <label for="hiccups">Hiccups</label>
    <br>
    <input type="checkbox" name="patient_symptoms" value="swallowing" {% if 'swallowing' in symptoms %}checked="checked"{% endif %}> <label for="swallowing">Difficulty Swallowing</label>
    <br>
    <input type="checkbox" name="patient_symptoms" value="bleeding" {% if 'bleeding' in symptoms %}checked="checked"{% endif %}> <label for="bleeding">Unexplained Bleeding</label>
    <br><br>
{% endblock %}
{% block agent_skip_text %}UNKNOWN{% endblock %}
