{% extends 'step.html' %}
{% block agent_dialogue_text %}
    Please state your name.
{% endblock %}
{% block agent_input_elements %}
    <input type="text" name="caller_first_name" placeholder="Caller First Name">
    <input type="text" name="caller_middle_name" placeholder="Caller Middle Name">
    <input type="text" name="caller_last_name" placeholder="Caller Last Name">
    <select name="caller_suffix">
        <option disabled="disabled" selected="selected">Caller Suffix</option>
        {% for k,v in helpers.suffix.items() %}
        <option value="{{ k }}">{{ v }}</option>
        {% endfor %}
    </select>
{% endblock %}
{% set disable_agent_skip = True %}
